@import "../styles/tokyo-night.rasi"

window {
  background-color: @background;
  border: 2;
  border-radius: 10;
  border-color: @bright-magenta;
  padding: 5;
  width: 25%;
  location: northeast;
  x-offset: -0;
  y-offset: 40;
}

listview {
  fixed-height: 0;
  spacing: 0;
  scrollbar: true;
  lines: 10;
}
